<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated myDSLAdventure -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="myDSLAdventure.presentation.MyDSLAdventureModelWizardID"
            name="%_UI_MyDSLAdventureModelWizard_label"
            class="myDSLAdventure.presentation.MyDSLAdventureModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/MyDSLAdventureModelFile.gif">
         <description>%_UI_MyDSLAdventureModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated myDSLAdventure -->
      <editor
            id="myDSLAdventure.presentation.MyDSLAdventureEditorID"
            name="%_UI_MyDSLAdventureEditor_label"
            icon="icons/full/obj16/MyDSLAdventureModelFile.gif"
            extensions="mydsladventure"
            class="myDSLAdventure.presentation.MyDSLAdventureEditor"
            contributorClass="myDSLAdventure.presentation.MyDSLAdventureActionBarContributor">
      </editor>
   </extension>

</plugin>
